<div class="header-container"> 
    <p class="page-title">Max Stat Calculator</p>

    <!-- ---------------------------Parent Section-------------------------------------------------->

    <form [formGroup]="maxStatForm">
        <mat-dialog-content class="se-mat-dialog-content" style="padding: 5px 20px">
            <div class="row">      
                <div class="inputName"><span style="color: #CC0000">*</span>Parent Type Select</div>
                <div class="parent-select-wrapper"> 
                    <span>Parent 1: </span>
                    <mat-form-field class="form-input" appearance="outline">
                        <mat-select formControlName="parent1type" id="type-select" placeholder="Select Parent Type" required>
                            <mat-option *ngFor="let monsterType of monsterTypesList" [value]="monsterType">{{monsterType}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <span>Parent 2: </span>
                    <mat-form-field class="form-input" appearance="outline">
                        <mat-select formControlName="parent2type" id="type-select" placeholder="Select Parent Type" required>
                            <mat-option *ngFor="let monsterType of monsterTypesList" [value]="monsterType">{{monsterType}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
          <div class="inputName"><span style="color: #CC0000">*</span>Parent Level Select</div>
          <div class="monster-level-wrapper">
            <div class="monster-level-slider">
                <span style="width: 146px;">Parent 1: Level {{ maxStatForm.get('parent1level').value }}</span>
                <mat-slider min="10" max="100" step="1" value="1" thumbLabel tickInterval="1">
                    <input matSliderThumb formControlName="parent1level"/>
                </mat-slider>
            </div>
            <div class="monster-level-slider">
                <span style="width: 146px;">Parent 2: Level {{ maxStatForm.get('parent2level').value }}</span>
                <mat-slider min="10" max="100" step="1" value="1" thumbLabel tickInterval="1">
                    <input matSliderThumb formControlName="parent2level"/>
                </mat-slider>
            </div>
        </div>
    </div>

    <!-- ---------------------------Grandparent Section-------------------------------------------------->

        <div class="row">         
          <div class="inputName"><span style="color: #CC0000">*</span>Grandparent Type Select</div>
          <div class="parent-select-wrapper">  
          <span>Grandparent 1 - A: </span>  
           <mat-form-field class="form-input" appearance="outline">
             <mat-select formControlName="gparent1type" id="type-select" placeholder="Select Grandparent Type" required>
               <mat-option *ngFor="let monsterType of monsterTypesList" [value]="monsterType">{{monsterType}}
               </mat-option>
             </mat-select>
           </mat-form-field>
           <span>Grandparent 1 - B: </span>
           <mat-form-field class="form-input" appearance="outline">
            <mat-select formControlName="gparent2type" id="type-select" placeholder="Select Grandparent Type" required>
              <mat-option *ngFor="let monsterType of monsterTypesList" [value]="monsterType">{{monsterType}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <span>Grandparent 2 - A: </span>
          <mat-form-field class="form-input" appearance="outline">
            <mat-select formControlName="gparent3type" id="type-select" placeholder="Select Grandparent Type" required>
              <mat-option *ngFor="let monsterType of monsterTypesList" [value]="monsterType">{{monsterType}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <span>Grandparent 2 - B: </span>
          <mat-form-field class="form-input" appearance="outline">
            <mat-select formControlName="gparent4type" id="type-select" placeholder="Select Grandparent Type" required>
              <mat-option *ngFor="let monsterType of monsterTypesList" [value]="monsterType">{{monsterType}}
              </mat-option>
            </mat-select>
          </mat-form-field> 
          </div>    
        </div>
        <div class="inputName"><span style="color: #CC0000">*</span>Size Select</div>
        <div class="monster-level-wrapper">
            <div class="monster-level-slider">    
                <span style="width: 146px;">Monster Size: {{ maxStatForm.get('size').value }}</span>
                <mat-slider min="1" max="100" step="1" value="1" thumbLabel tickInterval="1">
                    <input matSliderThumb formControlName="size"/>
                </mat-slider>
            </div>
        </div>
    </mat-dialog-content>
    </form>
    <div class="button-wrapper">
        <button mat-button
            class="se-mat-dialog-btn se-mat-dialog-btn-prim"
            (click)="onSubmit()">Submit
        </button>
    </div>
</div>