.page-navigation-container {
    margin-top: 2em;
}

.nav-list {
    list-style-type: none;
    display: flex;
    justify-content: center;
    
}

.nav-list-item {
    margin: 0 1em;
    text-decoration: none;
}

.nav-list-item.active {
    font-weight: bold;
    text-decoration: underline;
}