<div class="page-navigation-container">
    <nav class="nav">
        <ul class="nav-list">
            <li><a routerLink="/monster-list" class="nav-list-item" routerLinkActive="active">Monster Finder</a></li>
            <li><a routerLink="/monster-breeding" class="nav-list-item" routerLinkActive="active">Monster Breeding Guide</a></li>
            <li><a routerLink="/dwm2-lookup" class="nav-list-item" routerLinkActive="active">DWM2 Monster Lookup</a></li>
            <li><a routerLink="/breeding-plan" class="nav-list-item" routerLinkActive="active">Breeding Planner</a></li>
        </ul>
    </nav>
</div>