<app-page-navigation></app-page-navigation>
<div class="header-container">  
    <p class="page-title">Monster Finder</p>
    <!-- <div class="body-wrapper">
    <div class="left-side">
        <span>Parent select</span>
    </div> -->
    <!-- <div class="middle"> -->
    <div class="monster-select-container">
    <span style="font-size: 30px; padding-top: 24px; padding-right: 8px;"> Monster: </span>
    <mat-form-field class="tms-dd monster-select">
        <mat-select #monster
            class="dqm-monster-select"
            panelClass="monster-select-panel style-2"
            (selectionChange)="onMonsterSelect($event)"
            (openedChange)="searchBox.focus(); monsterListOpened();"
            [value]="selectedMonster"
            (placeholder)="selectedMonsterName"
            required>
            
            <mat-option disable class="monster-search">
                <mat-form-field floatLable="never" class="width-140px" appearance="outline">
                <input #searchBox type="text" matInput (input)="searchMonsters($event.target.value)"
                    [formControl]="searchInputCtrl" class="flex-start" placeholder="Search Monsters"
                    autocomplete="off"/>
                
                <mat-icon matSuffix [inline]="true"
                    (click)="onClearSearchMonstersClick(searchBox)">
                </mat-icon>
                </mat-form-field>
            </mat-option>
            <ng-container>
                <cdk-virtual-scroll-viewport #monsterListCdk [class]="filteredAvailableMonsters.length > 4 ? 'height-210px'
                    : filteredAvailableMonsters.length < 1 ? 'height-0'
                    : filteredAvailableMonsters.length === 1 ? 'height-48px'
                    : filteredAvailableMonsters.length === 2 ? 'height-98px'
                    : filteredAvailableMonsters.length === 3 ? 'height-147px'
                    : 'height-196px'" [itemSize]="48" class="facility-selection-v-scroll" minBufferPx="50"
                    maxBufferPx="10000">
                <div *cdkVirtualFor="
                    let availableMonster of filteredAvailableMonsters;
                    templateCacheSize: 0;
                    trackBy: cdkTrackBy">
                    <mat-option [value]="availableMonster">
                      <span>{{availableMonster?.name}}</span>
                    </mat-option>
                </div>
                </cdk-virtual-scroll-viewport>
            </ng-container>
        </mat-select>
    </mat-form-field>
    </div>
    <div class="monster-image-wrapper">
            <img class="monster-image" [src]="getMonsterImage()" (alt)="selectedMonsterName">
    </div>
    <div class="selected-monster-stats">
        <br><span> Type: {{ type }}</span>
        <br><span> Tactical Bonus: {{ tacticalType }}</span>
        <div class = "stat-block">
            <br><span> HP: {{ maxStats?.hp }}</span>
            <br><span> MP: {{ maxStats?.mp }}</span>
            <br><span> Attack: {{ maxStats?.attack }}</span>
            <br><span> Defense: {{ maxStats?.defense }}</span>
            <br><span> Agility: {{ maxStats?.agility }}</span>
            <br><span> Wisdom: {{ maxStats?.wisdom }}</span>
        </div>
    <!-- </div> -->
    </div>
    <!-- <div class="right-side">
        <span>Grandparent Select</span>
    </div> -->
    <div class="button-wrapper">
        <button mat-button
            class="se-mat-dialog-btn se-mat-dialog-btn-prim"
            (click)="onMaxStatClick()">Max Stat Modifier
        </button>
    </div>
</div>